body {
    margin: 0;
    padding: 0;
    background-image: url("../../assets/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
.homeContainer {
    margin: 0%;
    width: 100%;
    padding: 0%;
    min-height: 100vh;
    min-width: 100vh;
    background-color: rgba(114, 97, 97, 0.272); 
}
