.totalConteiner {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  background-color: #161a1d;
  width: 100%;
  min-width: 98.7vw;
  border-bottom: 2px solid #b71c1c;
  margin: 0px;
}

.img {
  width: 50px;
  height: auto;
  margin-right: 5px;
  margin-left: 10px;
  background-color: #0b090a;
  border: 2px solid #b71c1c;
  border-radius: 10px; /* Ajusta el valor según el grado de redondez que desees */
}
.img:hover {
  box-shadow: 0 0 5px 5px #b71c1c9c; /* Define el brillo al pasar el mouse sobre la imagen */
}

.totalConteiner select {
  margin: 0 10px;
}

.totalConteiner button {
  text-decoration: none;
  margin: 0 10px;
  background-color: #161a1d;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  transition: all 0.1s ease;
}

.totalConteiner button:hover {
  background-color: #0b090a;
  border: 2px solid #b71c1c;
}

.totalConteiner button:focus {
  outline: black;
  border: 2px solid #ff1744;
  color: #ff1744;
}

.totalConteiner select {
  background-color: #161a1d;
  color: #fff;
  border: 2px solid #ee0000;
  border-radius: 5px;
  padding: 8px;
  width: 200px;
  transition: all 0.3s ease;
}

.totalConteiner select::selection {
  background-color: #161a1d;
}

.totalConteiner select:hover {
  background-color: #0b090a;
}

.totalConteiner select:focus {
  outline: none;
  border: 2px solid #ff1744;
}
